<mat-card>
    <mat-card-header class="bg-green-200 rounded-t-md pb-1">
        <mat-card-title> 
            <div class="flex flex-auto flex-wrap">
                <div class="min-w-fit mr-2">
                    <b>ชื่อ-สกุล :</b> {{ patient.data.title
                    }}{{ patient.data.first_name }}
                    {{ patient.data.last_name }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>เลขบัตรประชาชน :</b> {{ patient.data.cid | thaicid }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>เพศ :</b> {{ patient.data.gender_name }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>วันเกิด :</b> {{ patient.data.dob | thaidate : "medium" }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>อายุ :</b> {{ patient.data.age | thaiage }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>ที่อยู่ปัจจุบัน : </b> {{ patient.data.patient_address_name }}
                </div>
                <div class="min-w-fit mr-2">
                    <b>เบอร์ติดต่อ : </b> {{ patient.data.phone_number }}
                </div>
            </div>

           
        </mat-card-title>
    </mat-card-header>

    <div class="flex flex-auto flex-wrap">
        <div class="pl-10 min-w-fit mr-2 mt-6">
            <b>ส่งต่อหน่วยเยี่ยมบ้าน (เดิม) :</b> {{ patient.data.refer_to_pcuname }}
        </div>
    </div>
    <div class="w-1/2 md:w-full pl-10 my-4">
        <div class="flex flex-col lg:flex-row">
            <!-- search refer to hospital -->
            <div class="min-w-50">
                <span><b>ค้นหาหน่วยที่เยี่ยมบ้าน</b></span>:
                <mat-form-field class="w-30 mx-2">
                    <input  matInput [(ngModel)]="searchHospital" (keyup.enter)="search()" />
                </mat-form-field>
                <!-- button Search -->
                <button mat-mini-fab matTooltip="ค้นหาหน่วยที่เยี่ยมบ้าน" (click)="search()"
                    class="bg-violet-500 text-white">
                    <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                </button>
            </div>
        </div>
        <!-- select hospital -->
        <div class="flex flex-col lg:flex-row">
            <div class="min-w-160">
                <b>เลือกส่งต่อหน่วยเยี่ยมบ้าน (ใหม่) <span class="text-red-700">*</span> :</b>
                <mat-form-field class="w-160">
                    <mat-select [(value)]="refer_to_hcode"
                        (selectionChange)="onSelectionChange($event)">
                        <mat-option *ngFor="let item of filteredHospital" [value]="item.code">
                            {{ item.code }} - {{ item.name }} | {{ item.ampurname }} {{
                            item.changwatname }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

      <div class=" w-full mt-4 mb-2">
        <mat-card-actions class="grid justify-items-center">
            <button mat-raised-button color="primary" (click)="saveAndClose()">
                <mat-icon class="text-black">save</mat-icon>
                บันทึก
            </button>
        </mat-card-actions>
    </div>

</mat-card>